*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

section{
    padding: 30px;
}

h2 {
    margin-bottom: 10px;
    margin-left: 10px;
}

#Trabalhos h3{
    margin: 10px;
}


#Sobre p{
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#Contato p{
    font-family: "Playwrite ES Deco", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#Empresa p {
    font-family: "Playwrite ES Deco", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#Trabalhos p {
    font-family: "Playwrite ES Deco", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}







.texto-parcerias > p{
    font-family: "Playwrite ES Deco", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.texto-parcerias h2{
    font-family: none;
}

#Parcerias {
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


